@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap");
* {
  
  margin: 0%;
  padding: 0%;
}
.body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: ;
  color: ;
}

.destaqueh1 {
  color: #0276b9;
}

.apresentacao {
  padding: 3% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.apresentacao__conteudo__paragrafo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links__subtitulo{
  font-family: "Krona One", sans-serif;
  font-weight: 400;
}

.apresentacao__links__link {
  /*background-color: #0091e6; */
  
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid rgb(12, 149, 235);
  color: #4e4848;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 21px 0px;
  text-decoration: none;
  transition: box-shadow 0.5s;
  
}
.apresentacao__links__link:hover{
  background-color: rgb(28, 37, 37);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
  padding: 5%;
}
.apresentacao__img {
  padding: 1px;
}

.rodape{
  background-color: #0276b9;
  color: black;
  
  padding: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

