@charset "UTF-8";

/*
    Em HTML e id = em CSS é # ( so pode um elemento )
    em HTML é class = em CSS é . ( varios elementos )
    */


body{
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
color: #000000;

}

h1#principal {
    text-align: center;
    background-color: #192AE6;
    color: aliceblue;
}

h2 {
    color: #000000;
}

p {
    color: #000000;
}

.basico {
    color: #3117c2;   
    
}

.intermediario{
    color: rgb(15, 173, 62);
}
.avancado{
    color: #b6013d;
}
.destaque{
    background-color: rgb(222, 245, 122);
}